/* Estilos para el fondo de las secciones */
body .bg-img {
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 20px;
    background-color: #000000;
}

/* Estilos para los enlaces */
a,
a:hover {
    color: #000000;
}

/* Estilos para el cuadro de texto del banner */
.fh5co-banner-text-box {
    position: relative;
    max-height: 120px;
    display: inline-block;
    margin-top: 250px;
}

.fh5co-banner-text-box .quote-box {
    max-width: 455px;
    padding: 20px 0;
    animation: fadeInUp 2s ease; /* Animación de entrada */
}

.fh5co-banner-text-box .quote-box h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 42px;
    animation: glowText 2s infinite alternate; /* Animación de texto resplandeciente */
}

.fh5co-banner-text-box .quote-box h2 span {
    color: #e4e4e4;
    font-size: 20px;
    font-style: bold;
}

/* Animaciones personalizadas */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glowText {
    from {
        text-shadow: 0 0 10px #66ff00, 0 0 20px #66ff00, 0 0 30px #66ff00;
    }
    to {
        text-shadow: 0 0 20px #66ff00, 0 0 30px #66ff00, 0 0 40px #66ff00;
    }
}

/* Estilos para las secciones de redes y sobre nosotros */
.fh5co-network,
.fh5co-about-us {
    background-size: cover;
    padding: 50px 0;
    background-color: #616161; /* Verde oscuro */
}

.fh5co-network h2,
.fh5co-about-us h2 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0;
}

.fh5co-network h4,
.fh5co-about-us h4,
.fh5co-network h5,
.fh5co-about-us h5,
.fh5co-network p,
.fh5co-about-us p {
    color: #b6b6b6;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

/* Estilos para el contenido de la caja */
.fh5co-content-box {
    background: #ffffff;
    padding-bottom: 100px;
}

/* Estilos previos */

/* Estilo para las tarjetas de historias inspiradoras */
.fh5co-content-box .trainers .card {
    opacity: 0;
    transform: translateY(20px);
    animation-fill-mode: forwards;
    transition: opacity 0.5s ease, transform 0.5s ease;
    background-color: #ffffff; /* Cambiar a gris (#666666) */
}

.fh5co-content-box .trainers .card.animate {
    animation-duration: 1s;
    animation-name: fadeIn;
}

.fh5co-content-box .trainers .card img {
    transform: scale(0);
    transition: transform 0.7s ease-in-out;
}

.fh5co-content-box .trainers .card.animate img {
    transform: scale(1);
    transition-delay: 0.3s; /* Ajuste para que la imagen comience a escalar después de la animación de fade-in */
}

/* Animaciones personalizadas */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Estilos para el pie de página */
footer {
    background: #101011;
    color: #fff;
    padding: 30px 0;
}

footer .footer2 h4 {
    color: #ff8013;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 20px auto;
}

footer .footer2 .form-box {
    background: #fff;
    padding: 20px 30px;
    margin-top: -30px;
}

footer .footer2 input[type='text'],
footer .footer2 input[type='email'] {
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #000;
}

footer .footer2 input[type='text']:focus,
footer .footer2 input[type='email']:focus {
    box-shadow: none;
    border-color: #ff8013;
}

footer .footer2 .btn {
    min-width: 150px;
    border-radius: 0;
}

footer .footer3 {
    padding-top: 50px;
}

footer .footer3 a {
    background: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0;
    padding-top: 5px;
}

footer .footer3 a:hover {
    background: #ff8013;
}

footer::before {
    content: "";
    position: absolute;
    border: 3px solid #00290a;
    width: 100%;
    left: 0;
}

/* Animaciones para las imágenes */
.gallery .card img {
    max-width: 100%;
    height: auto;
    animation: fadeInImage 2s ease;
}

@keyframes fadeInImage {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Estilos para la sección de Historias Inspiradoras */
.fh5co-content-box {
    padding: 80px 0; /* Ajuste de padding según necesidades */
    position: relative;
}

.fh5co-content-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff; /* Fondo semi-transparente */
}

.fh5co-content-box h2 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
}

.fh5co-content-box .trainers .card {
    background-color: #35353593; /* Tono gris */
    border: none;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0 10px 30px rgb(255, 255, 255); /* Sombra */
    transition: transform 0.3s ease;
}

.fh5co-content-box .trainers .card:hover {
    transform: translateY(-10px); /* Efecto de elevación al hacer hover */
}

.fh5co-content-box .trainers .card img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.fh5co-content-box .trainers .card:hover img {
    transform: scale(1.1); /* Efecto de zoom al hacer hover */
}

/*sadsa*/
.why_section {
    background-color: #808080;
    padding: 80px 0;
    text-align: center;
}

.custom_heading-container h2 {
    font-size: 48px;
    color: #fff; /* Color del texto del título en blanco */
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif; /* Fuente personalizada */
    text-transform: uppercase; /* Transformar a mayúsculas */
}

.content-container p {
    font-size: 20px;
    color: #ccc; /* Color del texto del párrafo en gris claro */
    margin-bottom: 40px;
    line-height: 1.6;
}

.row {
    display: flex;
    justify-content: center;
}

.col-md-3 {
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.col-md-3:hover {
    transform: translateY(-10px);
}

.icon-box {
    background-color: #4CAF50; /* Fondo verde */
    padding: 20px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box svg {
    color: #fff; /* Color del icono en blanco */
    font-size: 40px;
}

.detail-box {
    
    background-color: #4CAF50;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.detail-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.detail-box h3 {
    font-size: 60px;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif; /* Fuente personalizada */
}

.detail-box h6 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif; /* Fuente personalizada */
    text-transform: uppercase; /* Transformar a mayúsculas */
}
/*PIE DE PAGINA*/

/* Estilos para el footer */
#tempaltemo_footer {
    background-color: #28a745; /* Fondo verde */
    color: #fff; /* Texto blanco */
    padding-top: 50px;
    padding-bottom: 50px;
}

#tempaltemo_footer .footer-link-list li {
    margin-bottom: 10px;
}

#tempaltemo_footer .footer-icons .list-inline-item {
    margin-right: 10px;
}

#tempaltemo_footer .footer-icons .list-inline-item a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

#tempaltemo_footer .footer-icons .list-inline-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#tempaltemo_footer .input-group-text {
    cursor: pointer;
}

#tempaltemo_footer .bg-black {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}

#tempaltemo_footer .bg-black p {
    margin-bottom: 0;
}

#tempaltemo_footer .logo {
    font-weight: bold;
    font-size: 24px;
}

#tempaltemo_footer .footer-link-list a {
    color: #fff;
}

#tempaltemo_footer .footer-link-list a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

#tempaltemo_footer .footer-icons .list-inline-item a {
    color: #fff;
}

#tempaltemo_footer .footer-icons .list-inline-item a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}


