.App {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    background-color: rgb(22, 21, 61);
    color: white;
}
.sideBar {
    flex: 2;
    border-right: 1px solid rgb(100, 100, 100);
}
.main {
    flex: 8;
}
.logo {
    margin-right: 0.25rem;
}
.brand {
    font-size: 1.2rem;    
}
.upperSide {
    padding: 1rem;
    border-bottom: 1px solid rgb(100, 100, 100);
    height: 70%;
}
.upperSideTop {
    display: flex;
    align-items: center;
    margin: 1rem;
}
.addBtn {
    height: 1rem;
    padding-right: 0.25rem;
}
.midBtn {
    background: #5A4BFF;
    border: none;
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
}
.query {
    display: flex;
    align-items: center;
    background: transparent;
    color: rgba(222, 222, 222, 1);
    padding: 0.75rem;
    width: 15rem;
    margin: 0.25rem auto;
    border-radius: 0.25rem;
    border: 1px solid rgba(98, 98, 98, 1);
}
.query > img {
    margin-right: 0.75rem;
    object-fit: cover;
    height: 0.9rem;
}
.lowerSide {
    padding: 1rem;
}
.listItems {
    margin: 0rem;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}
.listItemsImg {
    margin: 0.25rem;
    padding-right: 0.25rem;
}
.listItems:nth-child(1) > .listItemsImg {
    margin-right: 0.1rem;
}
.listItems:nth-child(3) > .listItemsImg {
    margin-right: 0.3rem;
}
.main {
    min-height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 6rem;
    margin-bottom: 0;
}
.chats {
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    max-width: 50rem;
    height: calc(100vh - 13rem);
}
.chat {
    overflow-y: auto;
    margin: 0.25rem;
    padding: 0.75rem 1rem;
    font-size: 0.8rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}
.chatImg {
    object-fit: cover;
    width: 2rem;
    margin-right: 1rem;
    border-radius: 0.25rem;
}
.bot {
    background: rgba(28, 30, 58, 1);
    width: fit-content;
    border-radius: 0.25rem;
}
.chatFooter {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inp {
    padding: 0.25rem;
    background: rgba(28, 30, 58, 1);
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    width: 40rem;
}
.inp > input {
    width: calc(100% - 1.5rem);
    outline: none;
    padding: 0.75rem;
    color: white;
}
.inp > input, .send {
    background: transparent;
    border: none;
}
.chatFooter > p {
    margin: 1rem 0;
}
